@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root{
        --neutral-black : 23,23,23;
        --neutral-white : 242,242,242;
        @apply light-color-pallete gray-light-pallete bg-themed-gray-base text-themed-gray-inverse font-poppins style-body font-light transition-all duration-500 ease-out-cubic
    }

    .frame-bounded-x {
        @apply px-[6vw]
    }

    .frame-bounded-y {
        @apply  py-[3vh] md:py-[6vh]
    }

    /* Heading scaled */
    .style-heading{
        @apply text-2xl mobile-lg:text-3xl md:text-4xl xl:text-5xl 2xl:text-6xl font-medium
    }

    .style-heading-h2{
        @apply text-xl mobile-lg:text-2xl md:text-3xl 2xl:text-4xl font-medium
    }

    /* Sub-heading scaled */
    .style-subheading{
        @apply text-base mobile-lg:text-lg lg:text-xl 2xl:text-2xl
    }

    /* Sub-heading scaled */
    .style-body{
        @apply text-sm mobile-lg:text-base 2xl:lg:text-lg
    }

     /* Sub-heading scaled */
    .style-small-text{
        @apply text-xs mobile-lg:text-sm 2xl:lg:text-base font-light
    }

    /* Sub-heading scaled */
    .style-secondary{
        @apply text-gray-600 dark:text-gray-400 font-extralight
    }

    /* glasmorphism */
    .apply-glass{
        @apply shadow-md dark:shadow-themed-gray-t3 backdrop-blur-md bg-opacity-40
    }

    .dark{
        @apply dark-color-pallete gray-dark-pallete
    }

    .apply-inverse-gray{
        @apply gray-dark-pallete dark:gray-light-pallete
    }

    .gray-light-pallete {
        --gray-base: 242, 242, 246;
        --gray-t2: 229, 229, 232;
        /*#e5e5e5*/
        --gray-t3: 215, 215, 219;
        /*#d7d7d7*/
        --gray-t4: 202, 202, 207;
        /*#cacaca*/
        --gray-t5: 189, 189, 194;
        /*#bdbdbd*/
        --gray-t6: 176, 176, 181;
        /*#b0b0b0*/
        --gray-t7: 163, 163, 169;
        /*#a3a3a3*/
        --gray-t8: 149, 149, 155;
        /*#959595*/
        --gray-t9: 136, 136, 142;
        /*#888888*/
        --gray-inverse: 30,30,34;
    }

    .gray-dark-pallete {
        --gray-base: 22, 22, 25;
        --gray-t2: 28, 28, 32;
        /*#191919*/
        --gray-t3: 37, 37, 41;
        /*#252525*/
        --gray-t4: 49, 49, 54;
        /*#313131*/
        --gray-t5: 62, 62, 68;
        /*#3e3e3e*/
        --gray-t6: 74, 74, 82;
        /*#4a4a4a*/
        --gray-t7: 86, 86, 92;
        /*#565656*/
        --gray-t8: 98, 98, 104;
        /*#626262*/
        --gray-t9: 111, 111, 118;
        --gray-inverse: 210,210,218;
        /* --gray-inverse: 235,235,248; */
    }

    .light-color-pallete{
        --primary : 26,142,184; /*#1a8eb8*/
        --on-primary : var(--neutral-black);
        --primary-t2 : 51,154,192; /*#339ac0*/
        --primary-t3 : 77,167,200; /*#4da7c8*/
        --primary-t4 : 102,179,208; /*#66b3d0*/
        --primary-t5 : 128,192,216; /*#80c0d8*/
        /* secondary */
        --secondary : 26,184,147; /*#1ab893*/
        --on-secondary : var(--neutral-black);
        --secondary-t2 : 51,192,159; /*#33c09f*/
        --secondary-t3 : 77,200,171; /*#4dc8ab*/
        --secondary-t4 : 102,208,183; /*#66d0b7*/
        --secondary-t5 : 128,216,195; /*#80d8c3*/
        /* semantics */
        --semantic-info : 53,148,232; /*#3594e8*/
        --semantic-info-t2 : 75,160,234; /*#4ba0ea*/
        --semantic-warning : 241,123,26; /*#f17b1a*/
        --semantic-warning-t2 : 242,137,51; /*#f28933*/
        --semantic-error : 240,78,66; /*#f04e42*/
        --semantic-error-t2 : 241,97,87; /*#f16157*/
        --semantic-success : 34,156,119; /*#229c77*/
        --semantic-success-t2 : 58,167,134; /*#3aa786*/
    }

    .dark-color-pallete{
        --primary: 0,116,158; /*#00749e*/
        --on-primary: var(--neutral-white);
        --primary-t2: 0,103,141; /*#00678d*/
        --primary-t3: 0,90,123; /*#005a7b*/
        --primary-t4: 0,77,106; /*#004d6a*/
        --primary-t5: 0,65,88; /*#004158*/
        /* secondary */
        --secondary: 0,158,122; /*#009e7a*/
        --on-secondary: var(--neutral-white);
        --secondary-t2: 0,141,108; /*#008d6c*/
        --secondary-t3: 0,123,95; /*#007b5f*/
        --secondary-t4: 0,106,81; /*#006a51*/
        --secondary-t5: 0,88,68; /*#005844*/
        /* semantics */
        --semantic-info : 27,122,206; /*#1b7ace*/
        --semantic-info-t2 : 24,109,183; /*#186db7*/
        --semantic-warning : 215,97,0; /*#d76100*/
        --semantic-warning-t2 : 191,86,0; /*#bf5600*/
        --semantic-error : 190,46,36; /*#be2e24*/
        --semantic-error-t2 : 167,41,31; /*#a7291f*/
        --semantic-success : 8,131,94; /*#08835e*/
        --semantic-success-t2 : 7,116,83; /*#077453*/
    }
}

@layer components {
    .sticky-40 {
        @apply w-screen h-[40vh] md:w-[40vw] md:h-screen
    }

    .antisticky-40 {
        @apply w-screen h-[60vh] md:w-[60vw] md:h-screen
    }

    .sticky-45 {
        @apply w-screen h-[45vh] md:w-[45vw] md:h-screen
    }

    .antisticky-45 {
        @apply w-screen h-[55vh] md:w-[55vw] md:h-screen
    }

    .sticky-50 {
        @apply w-screen h-[50vh] md:w-[50vw] md:h-screen
    }

    .antisticky-50 {
        @apply w-screen h-[50vh] md:w-[50vw] md:h-screen
    }

    .sticky-60 {
        @apply w-screen h-[60vh] md:w-[60vw] md:h-screen
    }

    .antisticky-60 {
        @apply w-screen h-[40vh] md:w-[40vw] md:h-screen
    }

}
